.FooterMiddle {
  background-color: #2e343c;
  border-bottom: 1px solid #4e5257;
  .inner {
    padding: 20px 0;
    ul {
      display: flex;
      li {
        a {
          display: block;
          color: #fff;
        }
      }
    }
  }
}