.SlideIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  .slide_icon_area {
    .slide_icon_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      img {

      }
      h4 {
        color: #fff;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}