* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit
}
body {
  font-family: 'Pretendard-Regular';
  font-size: 14px;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}